.center {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.maxWidth {
  width: 100%;
}
.bg_black {
  background-color: black;
}
.fg_wheat {
  color: wheat;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.nooutline:focus {
  outline: none;
}
.nopadding {
  padding: 0% !important;
  z-index: 1001 !important;
  border-radius: 0.5rem !important;
}
